/*--------------------*/
/*    リセット関連     */
/*--------------------*/

*, *:after, *:before {
    box-sizing: border-box;
  }
  
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
  }

/*--------------------*/
/*    全体のスタイル   */
/*--------------------*/

html {
    font-size: 62.5%;
  }
  
body {
    font-size: 17px;
    line-height: 1.67;
    color: #555;
    margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

#profile, #motivation, #skill, #contact {
    padding: 60px 0;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.wrap {
    width: 100%;
    margin: 0 auto;
}

.more {
    display: inline-block;
    color: #0476ef;
    border: 2px solid;
    background-color: #fff;
    padding: 8px 20px;
    font-weight: bold;
}

.more:hover {
    color: #fff;
    background-color: #0476ef;
}

th {
    font-weight: normal;
}

/*--------------------*/
/*   titleのスタイル   */
/*--------------------*/

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 30px;
  }
  .title--bold {
    font-weight: bold;
    margin-right: 0.5em;
  }
  @media screen and (max-width: 800px) {
    .title {
      margin-bottom: 40px;
    }
  }
  .title:before, .titleafter {
    display: inline-block;
    content: "";
    border-top: 1px solid black;
    width: 2em;
    margin-right: 1.7rem;
  }
  .titleafter {
    margin-right: 0;
    margin-left: 1.7rem;
  }
  
  .title:before, .titleafter {
    display: inline-block;
    content: "";
    border-top: 1px solid black;
    width: 2em;
    margin-right: 1.7rem;
  }
  
  .title:after {
    display: inline-block;
    content: "";
    border-top: 1px solid black;
    width: 2em;
    margin-left: 1.7rem;
  }
  
  .inner {
    width: 80.6%;
    padding: 90px 0;
    margin: 0 auto;
  }
  @media screen and (max-width: 800px) {
    .inner {
      padding: 50px 0;
      width: 90%;
    }
  }

/*--------------------*/
/*   headerのスタイル  */
/*--------------------*/

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    padding: 0 35px;
    align-items: center;
}



.header-logo {
    font-size: 20px;
    text-align: center;
}

.header-nav ul {
    margin-left: 20px;
    font-size: 0;
}

.header-nav li {
    font-size: 16px;
    display: inline-block;
    margin-left: 35px;
    font-weight: bold;
}

.header-nav li:first-child {
    margin: 0;
}

.header-nav li a:hover {
    color: #45bcef;
}

.menu {
    position: absolute;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transform: translateY(-190%);
    transition: 1.5s;
    margin-bottom: 10px; 
}

.menu a {
    text-decoration: none;
    text-align: center;
    color: black;
}
  
  /* js関連 */
  .menu.active {
    transform: translateY(0); }
  
  .ham.active .first-border {
    transform: translateY(6px) rotate(45deg); }
  .ham.active .second-border {
    opacity: 0; }
  .ham.active .third-border {
    transform: translateY(-6px) rotate(-45deg); }

@media screen and (max-width: 800px) {
    .header-logo {
        font-size: 20px;
        text-align: center;
    }
    .header-nav {
        display: none;
    }

    .ham {
        width: 25px;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    .ham span {
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: black;
        transition: 1.5s;
        position: relative;
        z-index: 1; 
    }
}



/*--------------------*/
/*  eyecatchのスタイル */
/*--------------------*/

#eyecatch {
    background-image: url(../img/bg1.jpg);
    height: 600px;
    background-size: cover;
    background-position: 50% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catch-copy {
    font-size: 45px;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .catch-copy {
        font-size: 30px;
    }
}

/*--------------------*/
/*  profileのスタイル  */
/*--------------------*/
.profile-wrap ul {
    text-align: center;
}

.profile-wrap li {
    margin-top: 10px;
}

.profile-wrap li:first-child {
    margin-top: 0px;
}

.profile-wrap li span {
    margin-right: 20px;
}

/*--------------------*/
/* motivationのスタイル */
/*--------------------*/

#motivation {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
}

.motivation-wrap {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100vw;
    margin: 0 auto;
    border: 2px solid;
    padding: 30px 0;
    text-align: center;
}

#motivation .more {
    margin-top: 25px;
}


/*--------------------*/
/*  skillのスタイル */
/*--------------------*/

.skill-item {
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid black;
    text-align: center;
    width: 180px;
    box-shadow: 3px 3px 10px;
}

#skill .wrap {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

#skill span {
    display: block;
    font-size: 80px;
    color: #0476ef;
}

.skill-item p {
    margin-top: 10px;
}

.skill-item h3 {
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    #skill .wrap {
        flex-wrap: wrap;
    }
}
/*--------------------*/
/*  contactのスタイル   */
/*--------------------*/

#contact {
    background-color: #eee;
}

#contact .wrap {
    text-align: center;
    font-size: 2rem;
}

.map, .address {
    width: 400px;
    height: 300px;
}

.map {
    border: none;
} 

.address {
    font-size: 14px;
}

.address th {
    width: 25%;
}

/*--------------------*/
/*  fotterのスタイル   */
/*--------------------*/

footer {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

/*--------------------*/
/*  その他のスタイル   */
/*--------------------*/

.star-rating {
    position: relative;
    display:inline-block;
    font-size: 25px;
}
.star-rating .star-rating-item{
    position:absolute;
    overflow: hidden;
}
.star-rating .star-rating-item:before{
    content:"★★★★★";
    color: #ffcc33;
}
.star-rating:after {
    content:"★★★★★";
    color: #ccc;
}